ContactMaster/Backup/Service References/EnterpriseService/ENDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfUSLIContactAsignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIContactAsignment" nillable="true" type="tns:USLIContactAsignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIContactAsignment" nillable="true" type="tns:ArrayOfUSLIContactAsignment" />
  <xs:complexType name="USLIContactAsignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entity1ID" type="xs:int" />
      <xs:element minOccurs="0" name="Entity1Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity2ID" type="xs:int" />
      <xs:element minOccurs="0" name="Entity2Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactAsignment" nillable="true" type="tns:USLIContactAsignment" />
  <xs:complexType name="ArrayOfUSLICertification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLICertification" nillable="true" type="tns:USLICertification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLICertification" nillable="true" type="tns:ArrayOfUSLICertification" />
  <xs:complexType name="USLICertification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CertID" type="xs:int" />
          <xs:element minOccurs="0" name="CertName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isChecked" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="USLICertification" nillable="true" type="tns:USLICertification" />
  <xs:complexType name="ArrayOfGenericEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericEntity" nillable="true" type="tns:GenericEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericEntity" nillable="true" type="tns:ArrayOfGenericEntity" />
  <xs:complexType name="GenericEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericEntity" nillable="true" type="tns:GenericEntity" />
  <xs:complexType name="ArrayOfConferenceroom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conferenceroom" nillable="true" type="tns:Conferenceroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConferenceroom" nillable="true" type="tns:ArrayOfConferenceroom" />
  <xs:complexType name="Conferenceroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x" type="xs:double" />
      <xs:element minOccurs="0" name="y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conferenceroom" nillable="true" type="tns:Conferenceroom" />
  <xs:complexType name="ArrayOfUSLIEducation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIEducation" nillable="true" type="tns:USLIEducation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIEducation" nillable="true" type="tns:ArrayOfUSLIEducation" />
  <xs:complexType name="USLIEducation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EducationID" type="xs:int" />
      <xs:element minOccurs="0" name="EducationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="EducationTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isChecked" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIEducation" nillable="true" type="tns:USLIEducation" />
  <xs:complexType name="USLIUserAddition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="UserCerts" nillable="true" type="tns:ArrayOfUSLICertification" />
      <xs:element minOccurs="0" name="UserEducation" nillable="true" type="tns:ArrayOfUSLIEducation" />
      <xs:element minOccurs="0" name="UserTeams" nillable="true" type="tns:ArrayOfUSLITeam" />
      <xs:element minOccurs="0" name="UserTitles" nillable="true" type="tns:ArrayOfUSLITitle" />
      <xs:element minOccurs="0" name="UserUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkStation" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIUserAddition" nillable="true" type="tns:USLIUserAddition" />
  <xs:complexType name="ArrayOfUSLITeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLITeam" nillable="true" type="tns:USLITeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLITeam" nillable="true" type="tns:ArrayOfUSLITeam" />
  <xs:complexType name="USLITeam">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TeamID" type="xs:int" />
          <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeamState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isChecked" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="USLITeam" nillable="true" type="tns:USLITeam" />
  <xs:complexType name="ArrayOfUSLITitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLITitle" nillable="true" type="tns:USLITitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLITitle" nillable="true" type="tns:ArrayOfUSLITitle" />
  <xs:complexType name="USLITitle">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TitleID" type="xs:int" />
          <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isChecked" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="USLITitle" nillable="true" type="tns:USLITitle" />
  <xs:complexType name="ArrayOfUSState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USState" nillable="true" type="tns:USState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSState" nillable="true" type="tns:ArrayOfUSState" />
  <xs:complexType name="USState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USState" nillable="true" type="tns:USState" />
  <xs:complexType name="ArrayOfUSLIUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIUser" nillable="true" type="tns:USLIUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIUser" nillable="true" type="tns:ArrayOfUSLIUser" />
  <xs:complexType name="USLIUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Certification" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationX" type="xs:double" />
          <xs:element minOccurs="0" name="LocationY" type="xs:double" />
          <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserFloor" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="USLIUser" nillable="true" type="tns:USLIUser" />
  <xs:complexType name="ArrayOfUser50">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User50" nillable="true" type="tns:User50" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser50" nillable="true" type="tns:ArrayOfUser50" />
  <xs:complexType name="User50">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustID" type="xs:int" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User50" nillable="true" type="tns:User50" />
  <xs:complexType name="Customer50ViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfGenericEntity" />
      <xs:element minOccurs="0" name="States" nillable="true" type="tns:ArrayOfGenericEntity" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ArrayOfGenericEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer50ViewModel" nillable="true" type="tns:Customer50ViewModel" />
  <xs:complexType name="ArrayOfUSLIUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIUsers" nillable="true" type="tns:USLIUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIUsers" nillable="true" type="tns:ArrayOfUSLIUsers" />
  <xs:complexType name="USLIUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIUsers" nillable="true" type="tns:USLIUsers" />
  <xs:complexType name="ArrayOfUSLIContactType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIContactType" nillable="true" type="tns:USLIContactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIContactType" nillable="true" type="tns:ArrayOfUSLIContactType" />
  <xs:complexType name="USLIContactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactType" nillable="true" type="tns:USLIContactType" />
  <xs:complexType name="USLIContactView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsignmentDetails" nillable="true" type="tns:ArrayOfUSLIContactAsignment" />
      <xs:element minOccurs="0" name="DefaultContactName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactView" nillable="true" type="tns:USLIContactView" />
  <xs:complexType name="USLIContactIDs">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatlogID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      <xs:element minOccurs="0" name="Entity2ID" type="xs:int" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactIDs" nillable="true" type="tns:USLIContactIDs" />
  <xs:complexType name="USLIContactMainPikerView">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BState" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="ContactList" nillable="true" type="tns:ArrayOfUSLIContactType" />
      <xs:element minOccurs="0" name="EntityListOne" nillable="true" type="tns:ArrayOfUSLITeam" />
      <xs:element minOccurs="0" name="EntityListTwo" nillable="true" type="tns:ArrayOfUSLITeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactMainPikerView" nillable="true" type="tns:USLIContactMainPikerView" />
  <xs:complexType name="USLIContactAsignmentDetailView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustProdList" nillable="true" type="tns:ArrayOfUSLIContactAsignmentDetail" />
      <xs:element minOccurs="0" name="CustomerList" nillable="true" type="tns:ArrayOfUSLIContactAsignmentDetail" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfUSLIContactAsignmentDetail" />
      <xs:element minOccurs="0" name="StateList" nillable="true" type="tns:ArrayOfUSLIContactAsignmentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactAsignmentDetailView" nillable="true" type="tns:USLIContactAsignmentDetailView" />
  <xs:complexType name="ArrayOfUSLIContactAsignmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USLIContactAsignmentDetail" nillable="true" type="tns:USLIContactAsignmentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSLIContactAsignmentDetail" nillable="true" type="tns:ArrayOfUSLIContactAsignmentDetail" />
  <xs:complexType name="USLIContactAsignmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entity1ID" type="xs:int" />
      <xs:element minOccurs="0" name="Entity1Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity2ID" type="xs:int" />
      <xs:element minOccurs="0" name="Entity2Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductLineID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductLineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USLIContactAsignmentDetail" nillable="true" type="tns:USLIContactAsignmentDetail" />
</xs:schema>