ContactMaster/Service References/EnterpriseService/ENDataService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" />
  <xs:element name="AddStaffToTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffToTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExcelReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columndata" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="astList" nillable="true" type="q1:ArrayOfUSLIContactAsignment" />
        <xs:element minOccurs="0" name="catlog" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExcelReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateExcelReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columndata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iDeptid" type="xs:int" />
        <xs:element minOccurs="0" name="iUserType" type="xs:int" />
        <xs:element minOccurs="0" name="icatlog" type="xs:int" />
        <xs:element minOccurs="0" name="iProdType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWebStaffToTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWebStaffToTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchoolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffFromTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffFromTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFifties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="agentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFiftiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUSLICert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUSLICertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUSLITitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUSLITitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWebStaffFromTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWebStaffFromTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetCertsResult" nillable="true" type="q2:ArrayOfUSLICertification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetEducationTypeResult" nillable="true" type="q3:ArrayOfGenericEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetRoomsResult" nillable="true" type="q4:ArrayOfConferenceroom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetSchoolsResult" nillable="true" type="q5:ArrayOfUSLIEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetStaffAdditionsResult" nillable="true" type="q6:USLIUserAddition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetStatesResult" nillable="true" type="q7:ArrayOfUSState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetTeamsResult" nillable="true" type="q8:ArrayOfUSLITeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamStaffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetTeamStaffsResult" nillable="true" type="q9:ArrayOfUSLIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetTitlesResult" nillable="true" type="q10:ArrayOfUSLITitle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="workstationid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetUserResult" nillable="true" type="q11:USLIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFifties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFiftiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetUserFiftiesResult" nillable="true" type="q12:ArrayOfUser50" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFiftyPickerView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFiftyPickerViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetUserFiftyPickerViewResult" nillable="true" type="q13:Customer50ViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetUsersResult" nillable="true" type="q14:ArrayOfUSLIUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetWebRegionalContactResult" nillable="true" type="q15:USLIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
        <xs:element minOccurs="0" name="statecode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isUA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetWebRegionalContactsResult" nillable="true" type="q16:ArrayOfUSLIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebRegionalTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetWebRegionalTeamsResult" nillable="true" type="q17:ArrayOfUSLITeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetWebTeamsResult" nillable="true" type="q18:ArrayOfUSLITeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebTeamStaffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebTeamStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetWebTeamStaffsResult" nillable="true" type="q19:ArrayOfUSLIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="staff" nillable="true" type="q20:USLIUser" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="stfAdition" nillable="true" type="q21:USLIUserAddition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserFifties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="user" nillable="true" type="q22:User50" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserFiftiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLICert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLICertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLIEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="ed" nillable="true" type="q23:USLIEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLIEducationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLITitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUSLITitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWebRegionalContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptID" type="xs:int" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListSelected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isUA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWebRegionalContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveWebRegionalContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="SearchUsersResult" nillable="true" type="q24:ArrayOfUSLIUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetContactTypesResult" nillable="true" type="q25:ArrayOfUSLIContactType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDeparts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDepartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetContactDepartsResult" nillable="true" type="q26:ArrayOfUSLITeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" type="xs:int" />
        <xs:element minOccurs="0" name="usertype" type="xs:int" />
        <xs:element minOccurs="0" name="catlog" type="xs:int" />
        <xs:element minOccurs="0" name="prodtypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetContactViewResult" nillable="true" type="q27:USLIContactView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDefaultContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="contids" nillable="true" type="q28:USLIContactIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDefaultContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDefaultContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDefaultContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="contids" nillable="true" type="q29:USLIContactIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDefaultContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDefaultContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssignmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssignmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactAssignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactAssignmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactMainPikerView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catlogid" type="xs:int" />
        <xs:element minOccurs="0" name="tmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactMainPikerViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetContactMainPikerViewResult" nillable="true" type="q30:USLIContactMainPikerView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetContactDetailViewResult" nillable="true" type="q31:USLIContactAsignmentDetailView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceContactAssignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element minOccurs="0" name="target" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceContactAssignmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" minOccurs="0" name="GetProductsResult" nillable="true" type="q32:ArrayOfUSLITeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>