ContactMaster.Web/Backup/ContactMaster/Service References/EnterpriseService/ContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USLI.WCF.Services" />
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52141/Services/ENDataService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactService_AddStaffToTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffToTeam" />
  </wsdl:message>
  <wsdl:message name="IContactService_AddStaffToTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffToTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_CreateExcelReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateExcelReport" />
  </wsdl:message>
  <wsdl:message name="IContactService_CreateExcelReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateExcelReportResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_ExcelReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelReport" />
  </wsdl:message>
  <wsdl:message name="IContactService_ExcelReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelReportResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_AddWebStaffToTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWebStaffToTeam" />
  </wsdl:message>
  <wsdl:message name="IContactService_AddWebStaffToTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWebStaffToTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteSchool_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchool" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteSchool_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteStaffFromTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffFromTeam" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteStaffFromTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffFromTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUserFifties_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserFifties" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUserFifties_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserFiftiesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUSLICert_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUSLICert" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUSLICert_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUSLICertResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUSLITitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUSLITitle" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteUSLITitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUSLITitleResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteWebStaffFromTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWebStaffFromTeam" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteWebStaffFromTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWebStaffFromTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetCerts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCerts" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetCerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetEducationType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEducationType" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetEducationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEducationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetSchools_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchools" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetSchools_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetStaffAdditions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffAdditions" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetStaffAdditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffAdditionsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeams" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTeamStaffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamStaffs" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTeamStaffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamStaffsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUserFifties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFifties" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUserFifties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFiftiesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUserFiftyPickerView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFiftyPickerView" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUserFiftyPickerView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFiftyPickerViewResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalContacts" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalTeams" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebRegionalTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebRegionalTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebTeams" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebTeamStaffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebTeamStaffs" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetWebTeamStaffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebTeamStaffsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStaff" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUserFifties_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserFifties" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUserFifties_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserFiftiesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLICert_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLICert" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLICert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLICertResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLIEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLIEducation" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLIEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLIEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLITitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLITitle" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveUSLITitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUSLITitleResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveWebRegionalContact_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWebRegionalContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveWebRegionalContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWebRegionalContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="IContactService_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactTypes" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactDeparts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDeparts" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactDeparts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDepartsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactView" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactViewResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveDefaultContact_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDefaultContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveDefaultContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDefaultContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteDefaultContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDefaultContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteDefaultContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDefaultContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAssignments" />
  </wsdl:message>
  <wsdl:message name="IContactService_SaveAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssignments" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteContactAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactAssignments" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteContactAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactMainPikerView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactMainPikerView" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactMainPikerView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactMainPikerViewResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactDetailView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetailView" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetContactDetailView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetailViewResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_ReplaceContactAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceContactAssignments" />
  </wsdl:message>
  <wsdl:message name="IContactService_ReplaceContactAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceContactAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactService">
    <wsdl:operation name="AddStaffToTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/AddStaffToTeam" message="tns:IContactService_AddStaffToTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/AddStaffToTeamResponse" message="tns:IContactService_AddStaffToTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateExcelReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/CreateExcelReport" message="tns:IContactService_CreateExcelReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/CreateExcelReportResponse" message="tns:IContactService_CreateExcelReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/ExcelReport" message="tns:IContactService_ExcelReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/ExcelReportResponse" message="tns:IContactService_ExcelReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWebStaffToTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/AddWebStaffToTeam" message="tns:IContactService_AddWebStaffToTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/AddWebStaffToTeamResponse" message="tns:IContactService_AddWebStaffToTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchool">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteSchool" message="tns:IContactService_DeleteSchool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteSchoolResponse" message="tns:IContactService_DeleteSchool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffFromTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteStaffFromTeam" message="tns:IContactService_DeleteStaffFromTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteStaffFromTeamResponse" message="tns:IContactService_DeleteStaffFromTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFifties">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteUserFifties" message="tns:IContactService_DeleteUserFifties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteUserFiftiesResponse" message="tns:IContactService_DeleteUserFifties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUSLICert">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteUSLICert" message="tns:IContactService_DeleteUSLICert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteUSLICertResponse" message="tns:IContactService_DeleteUSLICert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUSLITitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteUSLITitle" message="tns:IContactService_DeleteUSLITitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteUSLITitleResponse" message="tns:IContactService_DeleteUSLITitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWebStaffFromTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteWebStaffFromTeam" message="tns:IContactService_DeleteWebStaffFromTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteWebStaffFromTeamResponse" message="tns:IContactService_DeleteWebStaffFromTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCerts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetCerts" message="tns:IContactService_GetCerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetCertsResponse" message="tns:IContactService_GetCerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEducationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetEducationType" message="tns:IContactService_GetEducationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetEducationTypeResponse" message="tns:IContactService_GetEducationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetRooms" message="tns:IContactService_GetRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetRoomsResponse" message="tns:IContactService_GetRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchools">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetSchools" message="tns:IContactService_GetSchools_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetSchoolsResponse" message="tns:IContactService_GetSchools_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffAdditions">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetStaffAdditions" message="tns:IContactService_GetStaffAdditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetStaffAdditionsResponse" message="tns:IContactService_GetStaffAdditions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetStates" message="tns:IContactService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetStatesResponse" message="tns:IContactService_GetStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetTeams" message="tns:IContactService_GetTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetTeamsResponse" message="tns:IContactService_GetTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamStaffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetTeamStaffs" message="tns:IContactService_GetTeamStaffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetTeamStaffsResponse" message="tns:IContactService_GetTeamStaffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetTitles" message="tns:IContactService_GetTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetTitlesResponse" message="tns:IContactService_GetTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetUser" message="tns:IContactService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetUserResponse" message="tns:IContactService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFifties">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetUserFifties" message="tns:IContactService_GetUserFifties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetUserFiftiesResponse" message="tns:IContactService_GetUserFifties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFiftyPickerView">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetUserFiftyPickerView" message="tns:IContactService_GetUserFiftyPickerView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetUserFiftyPickerViewResponse" message="tns:IContactService_GetUserFiftyPickerView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetUsers" message="tns:IContactService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetUsersResponse" message="tns:IContactService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalContact" message="tns:IContactService_GetWebRegionalContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalContactResponse" message="tns:IContactService_GetWebRegionalContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalContacts" message="tns:IContactService_GetWebRegionalContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalContactsResponse" message="tns:IContactService_GetWebRegionalContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalTeams" message="tns:IContactService_GetWebRegionalTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetWebRegionalTeamsResponse" message="tns:IContactService_GetWebRegionalTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetWebTeams" message="tns:IContactService_GetWebTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetWebTeamsResponse" message="tns:IContactService_GetWebTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebTeamStaffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetWebTeamStaffs" message="tns:IContactService_GetWebTeamStaffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetWebTeamStaffsResponse" message="tns:IContactService_GetWebTeamStaffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveStaff" message="tns:IContactService_SaveStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveStaffResponse" message="tns:IContactService_SaveStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserFifties">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveUserFifties" message="tns:IContactService_SaveUserFifties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveUserFiftiesResponse" message="tns:IContactService_SaveUserFifties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUSLICert">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveUSLICert" message="tns:IContactService_SaveUSLICert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveUSLICertResponse" message="tns:IContactService_SaveUSLICert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUSLIEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveUSLIEducation" message="tns:IContactService_SaveUSLIEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveUSLIEducationResponse" message="tns:IContactService_SaveUSLIEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUSLITitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveUSLITitle" message="tns:IContactService_SaveUSLITitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveUSLITitleResponse" message="tns:IContactService_SaveUSLITitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWebRegionalContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveWebRegionalContact" message="tns:IContactService_SaveWebRegionalContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveWebRegionalContactResponse" message="tns:IContactService_SaveWebRegionalContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SearchUsers" message="tns:IContactService_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SearchUsersResponse" message="tns:IContactService_SearchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetContactTypes" message="tns:IContactService_GetContactTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetContactTypesResponse" message="tns:IContactService_GetContactTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactDeparts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetContactDeparts" message="tns:IContactService_GetContactDeparts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetContactDepartsResponse" message="tns:IContactService_GetContactDeparts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactView">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetContactView" message="tns:IContactService_GetContactView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetContactViewResponse" message="tns:IContactService_GetContactView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDefaultContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveDefaultContact" message="tns:IContactService_SaveDefaultContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveDefaultContactResponse" message="tns:IContactService_SaveDefaultContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDefaultContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteDefaultContact" message="tns:IContactService_DeleteDefaultContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteDefaultContactResponse" message="tns:IContactService_DeleteDefaultContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAssignments">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/SaveAssignments" message="tns:IContactService_SaveAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/SaveAssignmentsResponse" message="tns:IContactService_SaveAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAssignments">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteAssignments" message="tns:IContactService_DeleteAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteAssignmentsResponse" message="tns:IContactService_DeleteAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContactAssignments">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteContactAssignments" message="tns:IContactService_DeleteContactAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteContactAssignmentsResponse" message="tns:IContactService_DeleteContactAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactMainPikerView">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetContactMainPikerView" message="tns:IContactService_GetContactMainPikerView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetContactMainPikerViewResponse" message="tns:IContactService_GetContactMainPikerView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactDetailView">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetContactDetailView" message="tns:IContactService_GetContactDetailView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetContactDetailViewResponse" message="tns:IContactService_GetContactDetailView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceContactAssignments">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/ReplaceContactAssignments" message="tns:IContactService_ReplaceContactAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/ReplaceContactAssignmentsResponse" message="tns:IContactService_ReplaceContactAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetProducts" message="tns:IContactService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetProductsResponse" message="tns:IContactService_GetProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactService" type="tns:IContactService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStaffToTeam">
      <soap:operation soapAction="http://tempuri.org/IContactService/AddStaffToTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateExcelReport">
      <soap:operation soapAction="http://tempuri.org/IContactService/CreateExcelReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelReport">
      <soap:operation soapAction="http://tempuri.org/IContactService/ExcelReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebStaffToTeam">
      <soap:operation soapAction="http://tempuri.org/IContactService/AddWebStaffToTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchool">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffFromTeam">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteStaffFromTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFifties">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteUserFifties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUSLICert">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteUSLICert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUSLITitle">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteUSLITitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebStaffFromTeam">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteWebStaffFromTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCerts">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetCerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEducationType">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetEducationType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchools">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetSchools" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffAdditions">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetStaffAdditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamStaffs">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetTeamStaffs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFifties">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetUserFifties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFiftyPickerView">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetUserFiftyPickerView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetWebRegionalContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalContacts">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetWebRegionalContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebRegionalTeams">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetWebRegionalTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebTeams">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetWebTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebTeamStaffs">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetWebTeamStaffs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStaff">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserFifties">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveUserFifties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUSLICert">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveUSLICert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUSLIEducation">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveUSLIEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUSLITitle">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveUSLITitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWebRegionalContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveWebRegionalContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/IContactService/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactTypes">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetContactTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactDeparts">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetContactDeparts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactView">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetContactView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDefaultContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveDefaultContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDefaultContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteDefaultContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAssignments">
      <soap:operation soapAction="http://tempuri.org/IContactService/SaveAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAssignments">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactAssignments">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteContactAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactMainPikerView">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetContactMainPikerView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactDetailView">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetContactDetailView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceContactAssignments">
      <soap:operation soapAction="http://tempuri.org/IContactService/ReplaceContactAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="BasicHttpBinding_IContactService" binding="tns:BasicHttpBinding_IContactService">
      <soap:address location="http://localhost:52141/Services/ENDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>